<h1>anwsers</h1>



<form action="/answer">
  <input type="text" name="answer" placeholder="question">
  <input type="submit" value="Ask!">
</form>


<ol>

<% @answer.each do |answer| %>
<li>
  <%= answer %></li>
  <% end %>

</ol>


<%= link_to "question", answer_path %>
